{% load staticfiles %}
<!DOCTYPE  html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %}{% endblock %}</title>
        {% block css %}
            <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
            <link href="{% static 'bower_components/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/main.css' %}" />
            <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
            <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        {% endblock css %}

        {% block custom_css %}{% endblock %}

    {% endblock head %}
</head>
<body>

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

{% block script %}
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-notify.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery-validation/dist/jquery.validate.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/menuprincipal.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    {% if msg %}
        <script type="text/javascript">
            $.getScript("{% static 'js/notify-CM.js' %}", function(){
                {% if error %}
                    notifyCM('fa fa-times',"{{ msg }}","#E31C1C",120);
                {% else %}
                    notifyCM('fa fa-check',"{{ msg }}","#66BB6A",120);
                {% endif %}
            });
        </script>
    {% endif %}



{% endblock %}

{% block custom_script %}
{% endblock %}
</body>
</html>